.impEachStepContainer {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.impEachStepContainer > h2 > span {
  color: var(--customColor1);
}
.impEachStepContainer > h2 {
  text-align: center;
  color: var(--customColor2);
  font-size: 30px;
}
.impEachStepContainer > p {
  text-align: justify;
  font-size: 20px;
}
.impEachStepContainer > ul > li {
  list-style: none;
  font-size: 20px;
  text-align: justify;
  margin: 20px;
}
.impEachStepContainer > ul > li > h3 {
  color: var(--customColor2);
  font-weight: bold;
  font-size: 20px;
}
.impEachStepContainer > ul > li > span {
  color: var(--customColor2);
  font-weight: bold;
  font-size: 20px;
}
.impEachStepContainer > ul > li > h3 > span {
  color: var(--customColor1);
  font-weight: bold;
  font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .impEachStepContainer {
    /* border: solid red; */
    padding: 20px;
  }
}
